.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.username{
    color: white;
}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #34568B;
    
    /* Chrome 10-25, Safari 5.1-6 */
  
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #c00d0d, #fff265, #c00d0d, #fff265); */

    }

   
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }

    /* Modify the background color */
.bg{
    background-color: #34568B ;
    
}

.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  
/* .tableHeader{
    background-color: #212529;
    color: white;
} */


.ip1{
    width: 40px;
    text-align: center;
}

.ip2{
    width: 40px;
    text-align: center;
    color: #f50000;
}
.modal-title2{
    font-size: x-large;
    color: #34568B
  
    
}

.modal-title{
    font-size: x-large;
}

.box1, .box2, .box3 {
    float: left;
    margin-right: 2.5%;
    box-sizing: border-box;
}

.div{
    margin-left: 6px;
}

.modal-header{
    height: 100px;
}
@media screen and (min-width: 992px) {

    .navbar {
    
    padding: 0;
    
    }
    
    .navbar .navbar-nav .nav-link {
    
    padding: 1em 0;
    
    }
    
    .navbar .navbar-nav .nav-item {
    
    margin: 0 1em;
    
    }
    
    }
    
    
    ul {
    
    padding: 1.2vw;
    
    }
    
    
    ul li {
    
    cursor: pointer;
    
    position: relative;
    
    text-align: center;
    
    }
    
    
    li a:is(:link, :active, :visited) {
    
    text-decoration: none;
    
    position: relative;
    
    
    }
    
    
    li a:is(:link, :active, :visited).active {
    
    font-weight: 500;
    
    color: aliceblue;
    
    background: linear-gradient(to left, aliceblue, aliceblue 100%);
    
    background-position: 0 100%;
    
    background-size: 100% 2px;
    
    background-repeat: repeat-x;
    
    
    }
    
    
    li a::before {
    
    font-weight: 500;
    
    color: aliceblue;
    
    content: "";
    
    position: absolute;
    
    left: 0;
    
    bottom: 0;
    
    width: 0%;
    
    height: 2px;
    
    background-color: aliceblue;
    
    transition: width 0.3s ease-out;
    
    }
    
    
    li a:hover::before {
    
    width: 100%;
    
    }

    .td{
        background-color: yellow;
    }


    .carousel-item {

        height: 60vh;
        
        }
        
        
        
        
        .faucet {
        
        width: 37.5%;
        
        margin-left: 17vw;
        
        }
        
        
        
        
        .card-img-top {
        
        height: 35vh;
        
        }

        .bescheid {
            background-color: #555555;/* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-left: 20px;
          }

          #container{
              position: relative;

          }

          .cell{
              position: absolute;
              width: 270px;
              height: 270px;

          }

          * {
            box-sizing: border-box;
          }

          * {
            box-sizing: border-box;
          }
          
          .column {
            margin-left: 51px;
            float: left;
            width: 21.5%;
            
           
          }
          
          /* Clearfix (clear floats) */
          .row::after {
            content: "";
            clear: both;
            display: table;
           
          
          }
          
        
