<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="../controller/jquery-3.6.0.min.js"></script>
  <script src="../controller/history.js"></script>
  <script defer src="../controller/activePage.js"></script>
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #363C44">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img onclick="onPressImg()"
          src="https://www.vgzwland.de/downloads-und-grafiken/bilder/logo-vg-zw-land-quadratisch.svg?cid=c.2c"
          width="60" height="60" class="d-inline-block" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="data.html">Wasserstand anlegen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="history.html">Verlauf</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="bescheid.html">Bescheid</a>
          </li>
        </ul>
      </div>
      <div class="box1">
        <p id="KdNr" style="color: aliceblue;"></p>
      </div>
      <div class="box2">
        <p id="username" class="username"> </p>
      </div>
      <div class="box3"><i style="color: aliceblue; margin-bottom: 20px;" class="fa fa-user" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
  <!-- <br>
<select id="mySelect" onchange="myFunction()">
  <option value="Mustermannstraße">Mustermannstraße</option>
  <option value="Musterallee">Musterallee</option>
</select>
<br> -->
  <!-- <input id="input">
<button onclick="filterTable()">filter</button>
<button onclick="resetFilter()">Filter zurücksetzen</button> -->

<label style=" position: absolute;
top: 97px; left: 1040px;">Datum: </label>
  <div style="background-color: #B9B9B9; height: 50px;">

    <label style=" position: absolute;
    top: 97px; left: 865px;">Ort:</label>

<select   style=" position: absolute;
top: 97px; left: 900px;" id="Citys">
  <option disabled selected value> Ort auswählen </option></select>
    
    <input id="date" type="date" style=" position: absolute;
    top: 97px; left: 1100px;" />

        <button onclick="Filter()" class="btn btn-light" style=" position: absolute;
        top: 97px; left: 1260px;"> <i class='fa fa-filter'></i></button>

    <button onclick="resetFilter()" class="btn btn-light" style=" position: absolute;
top: 97px; left: 1320px;"> <i class='fa-solid fa-filter-circle-xmark red-color'></i></button>

  </div>
  <table class="table table-striped table-bordered" responsive="true" width="100%">
    <thead width="100%">
      <tr>
        <th scope="col">Nr</th>
        <th scope="col">Adresse</th>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Geburtsdatum</th>
        <th scope="col">Straße</th>
        <th scope="col">Hausnr.</th>
        <th scope="col">PLZ.</th>
        <th scope="col">Ort</th>
        <th scope="col">Telefonnummer</th>
        <th scope="col">Datum</th>
        <th scope="col">Wasserstand</th>
        <th scope="col">Objekt_ID</th>
      </tr>
    </thead>
    <tbody id="historyTable">
    </tbody>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

<footer class="footer fixed-bottom">
  <div class="text-center p-3" style="background-color: #c7c7c7;">
    <button onclick="navtoLogin()" style="float: left; margin-top: -0.45%; " type="button" class="btn btn-primary"><i
        class="fas fa-sign-out-alt"></i> Abmelden</button>
    <a style="align-items: center;" class="text-white" href="https://www.vgzwland.de/">Offizielle Webseite von
      Zweibrücken</a>
  </div>
</footer>